:root {
    --bg-color: #080808;
    --bg-color-card: #171717;
    --extra-color: #282828;
    --text-primary: #eaeaeae0;
    --text-secondary: #b3b3b3;
    --text-muted: #7a7a7a;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    padding: 24px;
    gap: 16px;
}

.container>div {
    background-color: var(--bg-color-card);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--text-primary);
}

.hero {
    grid-area: 1 / 1 / 3 / 3;
}

.img1,
.img2 {
    grid-row: 1 / 3;
}

.social {
    grid-column: 5;
}

.profile {
    grid-row: 3 / 5;
}

.about {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.img3 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.resources {
    grid-row: 2 / 5;
}

.newsletter {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

.stack,
.theme,
.contact {
    grid-row: 5 / 7;
}

/* content div */

/* hero */
.hero>.content {
    height: 50%;
    width: 400px;
}

.content>.title {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.content>.para {
    font-size: 1.2rem;
    color: var(--text-muted);
}

/* newsletter */
.newsletter>.content {
    width: 100%;
    max-width: 400px;
}

.newsletter>.content>.text {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.newsletter .input {
    width: 100%;
    display: flex;
    gap: 8px;
}

.newsletter input {
    flex: 1;
    padding: 12px;
    border: 2px solid var(--extra-color);
    outline: none;
    background-color: var(--bg-color-card);
    border-radius: 8px;
}

.newsletter input[type="email"] {
    color: var(--text-primary);
    font-size: 1rem;
}

.newsletter button {
    padding: 12px 16px;
    border: none;
    background-color: var(--extra-color);
    color: var(--text-primary);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

/* stack */
.stack-content {
    width: 200px;
    height: 55%;
}

.stack-content>p {
    font-size: 1.4rem;
}

.stack-icons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.stack-icons div {
    width: 52px;
    height: 52px;
    background-color: var(--extra-color);
    border-radius: 8px;
    position: relative;
}

.stack-icons div img {
    width: 36px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0;
}

/* images */
div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}