:root {
    --bg-color: #080808;
    --bg-color-card: #171717;
    --extra-color: #282828;
    --text-primary: #b1b1b1;
    --text-secondary: #b3b3b3;
    --text-muted: #7a7a7a;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    padding: 24px;
    gap: 16px;
}

.container>div {
    background-color: var(--bg-color-card);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--text-primary);
}

.hero {
    grid-area: 1 / 1 / 3 / 3;
}

.img1,
.img2 {
    grid-row: 1 / 3;
}

.social {
    grid-column: 5;
}

.profile {
    grid-row: 3 / 5;
}

.about {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.img3 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.resources {
    grid-row: 2 / 5;
}

.newsletter {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

.stack,
.theme,
.contact {
    grid-row: 5 / 7;
}

/* content div */

/* hero */
.hero>.content {
    height: 50%;
    width: 400px;
}

.content>.title {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.content>.para {
    font-size: 1.2rem;
    color: var(--text-muted);
}

/* newsletter */
.newsletter>.content {
    width: 100%;
    max-width: 400px;
}

.newsletter>.content>.text {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.newsletter .input {
    width: 100%;
    display: flex;
    gap: 8px;
}

.newsletter input {
    flex: 1;
    padding: 12px;
    border: 2px solid var(--extra-color);
    outline: none;
    background-color: var(--bg-color-card);
    border-radius: 8px;
}

.newsletter input[type="email"] {
    color: var(--text-primary);
    font-size: 1rem;
}

.newsletter button {
    padding: 12px 16px;
    border: none;
    background-color: var(--extra-color);
    color: var(--text-primary);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

/* stack */
.stack-content {
    width: 200px;
    height: 55%;
}

.stack-content>p {
    font-size: 1.4rem;
    color: var(--text-primary);
}

.stack-icons {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.stack-icons div {
    width: 52px;
    height: 52px;
    background-color: var(--extra-color);
    border-radius: 8px;
    position: relative;
}

.stack-icons div img {
    width: 36px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0;
}

/* theme */
.toggle-theme {
    width: 96px;
    height: 52px;
    background-color: var(--extra-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.toggle-theme>div {
    width: 42px;
    height: 42px;
    background-color: var(--bg-color);
    border-radius: 50%;
    position: relative;
}

.toggle-theme>div img {
    width: 24px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
}

/* contact */
.contact-container {
    width: 70%;
    height: 55%;
}

.contact-container>p {
    font-size: 1.4rem;
    color: var(--text-primary);
}

.contact-container>button {
    width: 100%;
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--extra-color);
    border: none;
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.contact-container span img {
    width: 18px;
    height: auto;
}

/* about */
.content-about {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#about {
    color: var(--text-muted);
    font-size: .9rem;
    margin: 0;
}

#icon {
    width: 42px;
    height: 42px;
    margin-left: auto;
    margin-top: auto;
    border-radius: 50%;
    border: 2px solid var(--extra-color);
    position: relative;
    cursor: pointer;
}

#icon img {
    width: 20px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
}

.content-about p {
    color: var(--text-primary);
    font-size: 1.4rem;
    margin-top: 24px;
}

/* resources */
.resources-content {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.resources-content p {
    font-size: 1.4rem;
}

#resources {
    font-size: .9rem;
    margin-bottom: 24px;
    color: var(--text-muted);
}

/* social */
.container>.social {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
}

.social>div {
    background-color: var(--bg-color-card);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.social img {
    width: 28px;
    height: auto;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0;
}

/* images */
div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}