:root {
    --bg-color: #080808;
    --bg-color-card: #3f3f3f;
    --text-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 24px;
    gap: 16px;
}

.container>div {
    background-color: var(--bg-color-card);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}